<h1>Password Reset</h1>
<p>A password reset has been requested for <%= @user.email%> account.</p>
<p>To reset your password please visit:</p>
<br>
<%= link_to "Reset Password", password_reset_edit_url(token: @token)%>
